<?php include 'header.php';?>
			<!-- Page title -->
            <div class="page_top_wrap page_top_title page_top_breadcrumbs sc_pt_st1">
                <div class="content_wrap">
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href="index.html">Home</a>
						<span class="breadcrumbs_delimiter"></span>
						<span class="breadcrumbs_item current">About Us</span>
					</div>
                    <h1 class="page_title">About Us</h1>
                </div>
            </div>
			<!-- /Page title -->
			<!-- Content without sidebar -->
            <div class="page_content_wrap">
                <div class="content">
                    <article class="post_item post_item_single page">
						<section class="post_content">
							<!-- Info section -->
							<div class="sc_section accent_top bg_tint_light sc_bg1" data-animation="animated fadeInUp normal">
								<div class="sc_section_overlay">
									<div class="sc_section_content">
										<div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_2_5em_imp">
											<h2 class="sc_title sc_title_regular sc_align_center margin_top_0 margin_bottom_085em text_center">Why choose online education?</h2>
											<div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
												<div class="column-1_2 sc_column_item sc_column_item_1 sc_info_st1 odd first ">
													<div class="sc_section font_1_25em lh_1_3em">
														<span class="sc_icon icon-pen-2 alignleft link_color disp_block margin_right_05em margin_bottom_015em font_3_5em lh_1em"></span>
														<p>Study, have fun, uncover a new passion or learn
															<br /> skills that just may change your life.
														</p>
													</div>
													<div class="sc_section font_1_25em lh_1_3em margin_top_05em_imp">
														<span class="sc_icon icon-new-2 alignleft link_color disp_block margin_right_05em margin_bottom_015em font_3_5em lh_1em"></span>
														<p>Become an online Education student, it&#8217;s easy&#8230;
															<br /> Take online Education courses at your pace, at home or in a cafe.
														</p>
													</div>
													<div class="sc_section font_1_25em lh_1_3em margin_top_05em_imp">
														<span class="sc_icon icon-lightbulb-2 alignleft link_color disp_block margin_right_05em margin_bottom_015em font_3_5em lh_1em"></span>
														<p>From our think tank to your screen—we help you
															<br /> learn through cool tools, videos and game-like labs, like our 3D virtual molecule builder.
														</p>
													</div>
												</div>
												<div class="column-1_2 sc_column_item sc_column_item_2 sc_info_st1 even">
													<div class="sc_video_player">
														<div class="sc_video_frame width_596 height_335" data-width="596" data-height="335">
															<iframe class="video_frame" src="http://player.vimeo.com/video/9679622" width="596" height="335">
															</iframe>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Info section -->
							<!-- Team section -->
							<div class="sc_section" data-animation="animated fadeInUp normal">
								<div class="sc_content content_wrap margin_top_3em_imp margin_bottom_3em_imp">
									<h2 class="sc_title sc_title_regular sc_align_center text_center margin_top_0 margin_bottom_085em">Our Teachers</h2>
									<div class="sc_team sc_team_style_1">
										<div class="sc_columns columns_wrap">
											<div class="column-1_3">
												<div class="sc_team_item sc_team_item_1 odd first">
													<div class="sc_team_item_avatar">
														<img alt="" src="images/john_johnson_full-350x290.jpg">
													</div>
													<div class="sc_team_item_info">
														<h6 class="sc_team_item_title">
															<a href="#">John Johnson</a>
														</h6>
														<div class="sc_team_item_position">Administrator</div>
														<div class="sc_team_item_description">
															<p>Donec ut tincidunt purus. Vestibulum ultrices est id arcu iaculis, quis blandit nunc accumsan.</p>
														</div>
														<div class="sc_socials sc_socials_size_small">
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_facebook">
																	<span class="sc_socials_hover social_facebook"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_pinterest">
																	<span class="sc_socials_hover social_pinterest"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_twitter">
																	<span class="sc_socials_hover social_twitter"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_gplus">
																	<span class="sc_socials_hover social_gplus"></span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="column-1_3">
												<div class="sc_team_item sc_team_item_2 even">
													<div class="sc_team_item_avatar">
														<img alt="" src="images/john_snow_full-350x290.jpg">
													</div>
													<div class="sc_team_item_info">
														<h6 class="sc_team_item_title">
															<a href="#">John Snow</a>
														</h6>
														<div class="sc_team_item_position">Translator</div>
														<div class="sc_team_item_description">
															<p>Royal L. Garff Presidential Chair in Marketing, Marketing Department, Department of Marketing
																<br /> Presidential Professor, Marketing Department, University of Utah</p>
														</div>
														<div class="sc_socials sc_socials_size_small">
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_facebook">
																	<span class="sc_socials_hover social_facebook"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_pinterest">
																	<span class="sc_socials_hover social_pinterest"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_twitter">
																	<span class="sc_socials_hover social_twitter"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_dribbble">
																	<span class="sc_socials_hover social_dribbble"></span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="column-1_3">
												<div class="sc_team_item sc_team_item_3 odd">
													<div class="sc_team_item_avatar">
														<img alt="" src="images/pamela_fryman_full-350x290.jpg">
													</div>
													<div class="sc_team_item_info">
														<h6 class="sc_team_item_title">
															<a href="#">Pamela Fryman</a>
														</h6>
														<div class="sc_team_item_position">Translator</div>
														<div class="sc_team_item_description">
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
														</div>
														<div class="sc_socials sc_socials_size_small">
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_facebook">
																	<span class="sc_socials_hover social_facebook"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_pinterest">
																	<span class="sc_socials_hover social_pinterest"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_twitter">
																	<span class="sc_socials_hover social_twitter"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_dribbble">
																	<span class="sc_socials_hover"></span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Team section -->
							<!-- Courses section -->
							<div class="sc_section accent_top bg_tint_light sc_bg1" data-animation="animated fadeInUp normal">
								<div class="sc_section_overlay">
									<div class="sc_section_content">
										<div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_2_5em_imp">
											<h2 class="sc_title sc_title_regular sc_align_center margin_top_0 margin_bottom_085em text_center">Online Courses Starting Soon</h2>
											<div class="sc_blogger layout_courses_3 template_portfolio sc_blogger_horizontal no_description">
												<div class="isotope_wrap" data-columns="3">
													<!-- Courses item -->
													<div class="isotope_item isotope_item_courses isotope_column_3">
														<div class="post_item post_item_courses odd">
															<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
																<div class="post_featured img">
																	<a href="paid-course.html">
																		<img alt="Principles of Written English, Part 2" src="images/masonry_15-400x400.jpg">
																	</a>
																	<h4 class="post_title">
																		<a href="paid-course.html">Principles of Written English, Part 2</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_price">
																			<span class="post_price_value">$85</span>
																			<span class="post_price_period">monthly</span>
																		</div>
																		<div class="post_category">
																			<a href="product-category.html">Language</a>
																		</div>
																	</div>
																</div>
																<div class="post_info_wrap info">
																	<div class="info-back">
																		<h4 class="post_title">
																			<a href="paid-course.html">Principles of Written English, Part 2</a>
																		</h4>
																		<div class="post_descr">
																			<p>
																				<a href="paid-course.html">Nam id leo massa. Cras at condimentum nisi, vulputate ultrices turpis.</a>
																			</p>
																			<div class="post_buttons">
																				<div class="post_button">
																					<a href="paid-course.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">LEARN MORE</a>
																				</div>
																				<div class="post_button">
																					<a href="product-page.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">BUY NOW</a>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- /Courses item -->
													<!-- Courses item -->
													<div class="isotope_item isotope_item_courses isotope_column_3">
														<div class="post_item post_item_courses even">
															<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
																<div class="post_featured img">
																	<a href="paid-course.html">
																		<img alt="Entrepreneurship 101: Who is your customer?" src="images/masonry_06-400x400.jpg">
																	</a>
																	<h4 class="post_title">
																		<a href="paid-course.html">Entrepreneurship 101: Who is your customer?</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_price">
																			<span class="post_price_value">$195</span><span class="post_price_period">monthly</span>
																		</div>
																		<div class="post_category">
																			<a href="product-category.html">Marketing</a>
																		</div>
																	</div>
																</div>
																<div class="post_info_wrap info">
																	<div class="info-back">
																		<h4 class="post_title">
																			<a href="paid-course.html">Entrepreneurship 101:  Who is your customer?</a>
																		</h4>
																		<div class="post_descr">
																			<p>
																				<a href="paid-course.html">Quisque a nulla eget ante vestibulum lacinia eu quis massa.</a>
																			</p>
																			<div class="post_buttons">
																				<div class="post_button">
																					<a href="paid-course.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">LEARN MORE</a>
																				</div>
																				<div class="post_button">
																					<a href="product-page.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">BUY NOW</a>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- /Courses item -->
													<!-- Courses item -->
													<div class="isotope_item isotope_item_courses isotope_column_3">
														<div class="post_item post_item_courses odd">
															<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
																<div class="post_featured img">
																	<a href="free-course.html">
																		<img alt="Evaluating Social  Programs" src="images/masonry_04-400x400.jpg">
																	</a>
																	<h4 class="post_title">
																		<a href="free-course.html">Evaluating Social Programs</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_price">
																			<span class="post_price_value">Free!</span>
																		</div>
																		<div class="post_category">
																			<a href="product-category.html">Social</a>
																		</div>
																	</div>
																</div>
																<div class="post_info_wrap info">
																	<div class="info-back">
																		<h4 class="post_title">
																			<a href="free-course.html">Evaluating Social  Programs</a>
																		</h4>
																		<div class="post_descr">
																			<p>
																				<a href="free-course.html">Nunc finibus vestibulum dui a fringilla. Maecenas maximus in massa sit amet maximus.</a>
																			</p>
																			<div class="post_buttons">
																				<div class="post_button">
																					<a href="free-course.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">LEARN MORE</a>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- /Courses item -->
													<!-- Courses item -->
													<div class="isotope_item isotope_item_courses isotope_column_3">
														<div class="post_item post_item_courses even">
															<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
																<div class="post_featured img">
																	<a href="paid-course.html">
																		<img alt="Principles of Written English, Part 1" src="images/masonry_05-400x400.jpg">
																	</a>
																	<h4 class="post_title">
																		<a href="paid-course.html">Principles of Written English, Part 1</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_price">
																			<span class="post_price_value">$85</span>
																		</div>
																		<div class="post_category">
																			<a href="product-category.html">Language</a>
																		</div>
																	</div>
																</div>
																<div class="post_info_wrap info">
																	<div class="info-back">
																		<h4 class="post_title">
																			<a href="paid-course.html">Principles of Written English, Part 1</a>
																		</h4>
																		<div class="post_descr">
																			<p>
																				<a href="paid-course.html">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</a>
																			</p>
																			<div class="post_buttons">
																				<div class="post_button">
																					<a href="paid-course.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">LEARN MORE</a>
																				</div>
																				<div class="post_button">
																					<a href="product-page.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">BUY NOW</a>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- /Courses item -->
													<!-- Courses item -->
													<div class="isotope_item isotope_item_courses isotope_column_3">
														<div class="post_item post_item_courses odd">
															<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
																<div class="post_featured img">
																	<a href="paid-course.html">
																		<img alt="Introduction to Biomedical Imaging" src="images/masonry_03-400x400.jpg"></a>
																	<h4 class="post_title">
																		<a href="paid-course.html">Introduction to Biomedical Imaging</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_price">
																			<span class="post_price_value">$400</span>
																		</div>
																		<div class="post_category">
																			<a href="product-category.html">Medicine</a>
																		</div>
																	</div>
																</div>
																<div class="post_info_wrap info">
																	<div class="info-back">
																		<h4 class="post_title">
																			<a href="paid-course.html">Introduction to Biomedical Imaging</a>
																		</h4>
																		<div class="post_descr">
																			<p><a href="paid-course.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></p>
																			<div class="post_buttons">
																				<div class="post_button">
																					<a href="paid-course.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">LEARN MORE</a>
																				</div>
																				<div class="post_button">
																					<a href="product-page.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">BUY NOW</a>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- /Courses item -->
													<!-- Courses item -->
													<div class="isotope_item isotope_item_courses isotope_column_3">
														<div class="post_item post_item_courses even last">
															<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
																<div class="post_featured img">
																	<a href="paid-course.html">
																		<img alt="Introduction to Computer  Science" src="images/masonry_02-400x400.jpg">
																	</a>
																	<h4 class="post_title">
																		<a href="paid-course.html">Introduction to Computer  Science</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_price">
																			<span class="post_price_value">$120</span>
																			<span class="post_price_period">monthly</span>
																		</div>
																		<div class="post_category">
																			<a href="product-category.html">Computers</a>
																		</div>
																	</div>
																</div>
																<div class="post_info_wrap info">
																	<div class="info-back">
																		<h4 class="post_title">
																			<a href="paid-course-2.html">Introduction to Computer  Science</a>
																		</h4>
																		<div class="post_descr">
																			<p><a href="paid-course.html">Sed interdum felis diam, vitae rutrum urna laoreet vehicula.</a></p>
																			<div class="post_buttons">
																				<div class="post_button">
																					<a href="paid-course.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">LEARN MORE</a>
																				</div>
																				<div class="post_button">
																					<a href="product-page.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">BUY NOW</a>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- /Courses item -->
												</div>
											</div>
											<a href="courses-streampage.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_menu sc_button_size_small aligncenter sc_button_iconed icon-graduation margin_top_1em margin_bottom_4 widht_12em">VIEW ALL COURSES</a>
										</div>
									</div>
								</div>
							</div>
							<!-- /Courses section -->
							<!-- Partners section -->
							<div class="sc_section" data-animation="animated fadeInUp normal">
								<div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_2_5em_imp">
									<div class="sc_section aligncenter width_70per">
										<h2 class="sc_title sc_title_regular margin_top_0">Learn From the Best</h2>
										<p>Our online courses are built in partnership with technology leaders and are relevant to industry needs.
											<br /> Upon completing a Online course, you&#8217;ll receive a verified completion certificate recognized by industry leaders.
										</p>
									</div>
									<div id="sc_section_4" class="sc_section margin_top_1_5em_imp margin_bottom_0_imp height_75">
										<div id="sc_section_4_scroll" class="sc_scroll sc_scroll_horizontal swiper-slider-container scroll-container height_75">
											<div class="sc_scroll_wrapper swiper-wrapper">
												<div class="sc_scroll_slide swiper-slide">
													<figure class="sc_image  alignleft sc_image_shape_square margin_right_0_imp">
														<img src="images/partners_01_bw.jpg" alt="" />
													</figure>
													<figure class="sc_image  alignleft sc_image_shape_square margin_right_0_imp margin_left_4em_imp">
														<img src="images/partners_02_bw.jpg" alt="" />
													</figure>
													<figure class="sc_image  alignleft sc_image_shape_square margin_right_0_imp margin_left_4em_imp">
														<img src="images/partners_03_bw.jpg" alt="" />
													</figure>
													<figure class="sc_image  alignleft sc_image_shape_square margin_right_0_imp margin_left_4em_imp">
														<img src="images/partners_04_bw.jpg" alt="" />
													</figure>
													<figure class="sc_image  alignleft sc_image_shape_square margin_right_0_imp margin_left_4em_imp">
														<img src="images/partners_05_bw.jpg" alt="" />
													</figure>
													<figure class="sc_image  alignleft sc_image_shape_square margin_right_0_imp margin_left_4em_imp">
														<img src="images/partners_06_bw.jpg" alt="" />
													</figure>
												</div>
											</div>
											<div id="sc_section_4_scroll_bar" class="sc_scroll_bar sc_scroll_bar_horizontal sc_section_471175375_scroll_bar"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Partners section -->
							<!-- Pricing section -->
							<div class="sc_section accent_top bg_tint_light sc_bg1" data-animation="animated fadeInUp normal">
								<div class="sc_section_overlay">
									<div class="sc_section_content">
										<div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_2_5em_imp">
											<h2 class="sc_title sc_title_regular sc_align_center text_center margin_top_0 margin_bottom_085em">Plans &amp; Pricing</h2>
											<div class="columns_wrap sc_columns columns_nofluid sc_columns_count_3">
												<div class="column-1_3 sc_column_item sc_column_item_1 odd first text_center">
													<div class="sc_price_block sc_price_block_style_1 width_100per sc_pricing_cust_st1">
														<div class="sc_price_block_title">Trial</div>
														<div class="sc_price_block_money">
															<div class="sc_price_block_icon icon-clock-2"></div>
														</div>
														<div class="sc_price_block_description">
															<span class="sc_highlight font_2_57em lh_1em"><b>Free!</b> 30 Days</span>
														</div>
														<div class="sc_price_block_link">
															<a href="product-page.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">I WANT THIS PLAN</a>
														</div>
													</div>
												</div>
												<div class="column-1_3 sc_column_item sc_column_item_2 even text_center">
													<div class="sc_price_block sc_price_block_style_2">
														<div class="sc_price_block_title">Monthly</div>
														<div class="sc_price_block_money">
															<div class="sc_price"><span class="sc_price_currency">$</span><span class="sc_price_money">89</span></div>
														</div>
														<div class="sc_price_block_description">
															<p><b>Save $98</b> every year compared to the monthly
																<br /> plan by paying yearly.</p>
														</div>
														<div class="sc_price_block_link">
															<a href="product-page.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">I WANT THIS PLAN</a>
														</div>
													</div>
												</div>
												<div class="column-1_3 sc_column_item sc_column_item_3 odd text_center">
													<div class="sc_price_block sc_price_block_style_3">
														<div class="sc_price_block_title">Yearly</div>
														<div class="sc_price_block_money">
															<div class="sc_price">
																<span class="sc_price_currency">$</span>
																<span class="sc_price_money">129</span>
															</div>
														</div>
														<div class="sc_price_block_description">
															<p><b>Save $120</b> every year compared to the monthly
																<br /> plan by paying biannually.</p>
														</div>
														<div class="sc_price_block_link">
															<a href="product-page.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">I WANT THIS PLAN</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Pricing section -->
							<!-- Testimonials section -->
							<div class="sc_section link_color_bgc bg_tint_dark">
								<div class="sc_content content_wrap margin_top_3em_imp margin_bottom_3em_imp">
									<div class="sc_testimonials sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_controls sc_slider_height_fixed aligncenter height_12em width_100per" data-old-height="12em" data-interval="7000">
										<div class="slides swiper-wrapper">
											<div class="swiper-slide height_12em width_100per" data-style="width:100%;height:12em;">
												<div class="sc_testimonial_item">
													<div class="sc_testimonial_avatar">
														<img alt="" src="images/masonry_07-70x70.jpg"></div>
													<div class="sc_testimonial_content">
														<p>Best purchase i made in envato. Great Theme!</p>
													</div>
													<div class="sc_testimonial_author">
														<a href="#">Sarah Jefferson</a>
													</div>
												</div>
											</div>
											<div class="swiper-slide height_12em width_100per" data-style="width:100%;height:12em;">
												<div class="sc_testimonial_item">
													<div class="sc_testimonial_avatar">
														<img alt="" src="images/avatar-4-70x70.jpg"></div>
													<div class="sc_testimonial_content">
														<p>Thank you for all your help and assistance over the years with our products.
															<br /> I would have no hesitation in recommending you to my clients.</p>
													</div>
													<div class="sc_testimonial_author">
														<a href="#">David Anderson</a>
													</div>
												</div>
											</div>
											<div class="swiper-slide height_12em width_100per" data-style="width:100%;height:12em;">
												<div class="sc_testimonial_item">
													<div class="sc_testimonial_content">
														<div class="sc_number aligncenter margin_bottom_1_5em">
															<span class="sc_number_item">4</span>
															<span class="sc_number_item">0</span>
															<span class="sc_number_item">0</span>
														</div> 
														faculty and staff teaching courses and discussing topics online
													</div>
													<div class="sc_testimonial_author">online Education</div>
												</div>
											</div>
										</div>
										<div class="sc_slider_controls_wrap">
											<a class="sc_slider_prev" href="#"></a>
											<a class="sc_slider_next" href="#"></a>
										</div>
									</div>
								</div>
							</div>
							<!-- /Testimonials section -->
                        </section>
                    </article>
                </div>
            </div>
            <!-- /Content without sidebar -->
			<?php include 'footer.php';?>