
            <header class="top_panel_wrap bg_tint_dark">
				<!-- User menu -->
                <div class="menu_user_wrap">
                    <div class="content_wrap clearfix">
                        <div class="menu_user_area menu_user_right menu_user_nav_area">
                            <ul id="menu_user" class="menu_user_nav">
                                <li class="menu_user_bookmarks">
                                    <a href="#" class="bookmarks_show icon-star-1" title="Show bookmarks"></a>
                                    <ul class="bookmarks_list">
                                        <li><a href="#" class="bookmarks_add icon-star-empty" title="Add the current page into bookmarks">Add bookmark</a></li>
                                    </ul>
                                </li>
                                <li class="menu_user_controls">
                                    <a href="#">
										<span class="user_avatar">
											<img alt="" src="http://1.gravatar.com/avatar/45e4d63993e55fa97a27d49164bce80f?s=16&amp;d=mm&amp;r=g" srcset="http://1.gravatar.com/avatar/45e4d63993e55fa97a27d49164bce80f?s=32&amp;d=mm&amp;r=g 2x" class="avatar avatar-16 photo" height="16" width="16" />
										</span>
										<span class="user_name">John Doe</span></a>
                                    <ul>
                                        <li><a href="#" class="icon icon-doc-inv">New post</a></li>
                                        <li><a href="#" class="icon icon-cog-1">Settings</a></li>
                                    </ul>
                                </li>
                                <li class="menu_user_logout">
									<a href="#" class="icon icon-logout">Logout</a>
								</li>
                            </ul>
                        </div>
                        <div class="menu_user_area menu_user_left menu_user_contact_area">Contact us on 0 800 123-4567 or <a href="#"><span class="__cf_email__" data-cfemail="89fafcf9f9e6fbfdc9fde1ece4ecfbecf1a7e7ecfd">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("data-cfhash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}t.parentNode.removeChild(t);}}catch(u){}}()/* ]]> */</script></a></div>
                    </div>
                </div>
				<!-- /User menu -->
				<!-- Main menu -->
                <div class="menu_main_wrap logo_left">					
                    <div class="content_wrap clearfix">
						<!-- Logo -->
                        <div class="logo">
                            <a href="index.html">
								<img src="images/logo_dark.png" class="logo_main" alt="">
								<img src="images/logo_dark.png" class="logo_fixed" alt="">
							</a>
                        </div>
						<!-- Logo -->
						<!-- Search -->
                        <div class="search_wrap search_style_regular search_ajax" title="Open/close search form">
                            <a href="#" class="search_icon icon-search-2"></a>
                            <div class="search_form_wrap">
                                <form method="get" class="search_form" action="#">
                                    <button type="submit" class="search_submit icon-zoom-1" title="Start search"></button>
                                    <input type="text" class="search_field" placeholder="" value="" name="s" title="" />
                                </form>
                            </div>
                            <div class="search_results widget_area bg_tint_light">
                                <a class="search_results_close icon-delete-2"></a>
                                <div class="search_results_content">
							</div>
                            </div>
                        </div>
						<!-- /Search -->
						<!-- Navigation -->
                        <a href="#" class="menu_main_responsive_button icon-menu-1"></a>
						<nav class="menu_main_nav_area">
							<ul id="menu_main" class="menu_main_nav">
								<li class="menu-item menu-item-has-children"><a href="index.html">Homepage</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="index.html">Homepage Wide</a></li>
										<li class="menu-item"><a href="homepage-2.html">Homepage Boxed</a></li>
										<li class="menu-item"><a href="homepage-3.html">Homepage Photos</a></li>
									</ul>
								</li>
								<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">Features</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="typography.html">Typography</a></li>
										<li class="menu-item"><a href="shortcodes.html">Shortcodes</a></li>
										<li class="menu-item"><a href="video-tutorials.html">Video Tutorials</a></li>
										<li class="menu-item"><a href="events.html">Events Calendar</a></li>
										<li class="menu-item"><a href="about-us.html">About Us</a></li>
										<li class="menu-item current-menu-item page_item current_page_item"><a href="contact-us.html">Contact Us</a></li>
										<li class="menu-item"><a href="not-existing-page.html">Page 404</a></li>
										<li class="menu-item"><a href="not-existing-page-2.html">Page 404 (Style 2)</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="courses-streampage.html">Courses</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="courses-streampage.html">All courses</a></li>
										<li class="menu-item"><a href="free-course.html">Free course</a></li>
										<li class="menu-item"><a href="paid-course.html">Paid course</a></li>
										<li class="menu-item menu-item-has-children"><a href="#">Lessons</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="free-lesson.html">Free lesson (started)</a></li>
												<li class="menu-item"><a href="free-lesson-coming-soon.html">Free lesson (coming soon)</a></li>
												<li class="menu-item"><a href="lesson-from-paid-course.html">Lesson from paid course</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="team-members.html">Teachers</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="team-members.html">Teachers Team</a></li>
										<li class="menu-item"><a href="personal-page.html">Teacher&#8217;s Personal Page</a></li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="blog-streampage.html">Blog</a>
									<ul class="sub-menu">
										<li class="menu-item menu-item-has-children"><a href="#">Post Formats</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="post-formats-with-sidebar.html">With Sidebar</a></li>
												<li class="menu-item"><a href="post-formats.html">Without sidebar</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Masonry tiles</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="masonry-2-columns.html">Masonry (2 columns)</a></li>
												<li class="menu-item"><a href="masonry-3-columns.html">Masonry (3 columns)</a></li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"><a href="#">Portfolio tiles</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="portfolio-2-columns.html">Portfolio (2 columns)</a></li>
												<li class="menu-item"><a href="portfolio-3-columns.html">Portfolio (3 columns)</a></li>
												<li class="menu-item menu-item-has-children"><a href="#">Portfolio hovers</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="portfolio-hovers-circle.html">Circle, Part 1</a></li>
														<li class="menu-item"><a href="portfolio-hovers-circle-part-2.html">Circle, Part 2</a></li>
														<li class="menu-item"><a href="portfolio-hovers-circle-part-3.html">Circle, Part 3</a></li>
														<li class="menu-item"><a href="portfolio-hovers-square.html">Square, Part 1</a></li>
														<li class="menu-item"><a href="portfolio-hovers-square-part-2.html">Square, Part 2</a></li>
														<li class="menu-item"><a href="portfolio-hovers-square-part-3.html">Square, Part 3</a></li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item"><a href="products.html">Shop</a></li>
							</ul>
						</nav>
						<!-- /Navigation -->
                    </div>
                </div>
				<!-- /Main menu -->
            </header>