<?php include 'header.php';?>
			<!-- Page title -->
			<div class="page_top_wrap page_top_title page_top_breadcrumbs">
                <div class="content_wrap">
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href="index.html">Home</a>
						<span class="breadcrumbs_delimiter"></span>
						<span class="breadcrumbs_item current">Team Members</span> 
					</div>
                    <h1 class="page_title">Team Members</h1>
                </div>
            </div>
			<!-- Page title -->
			<!-- Content -->
			<div class="page_content_wrap">
                <div class="content">
                    <article class="post_item post_item_single page type-page">
                        <section class="post_content">
							<div class="sc_section accent_top" data-animation="animated fadeInUp normal sc_bg1">
								<div class="sc_section_overlay">
									<div class="sc_section_content">
										<div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_3em_imp">
											<h2 class="sc_title sc_title_regular sc_align_center margin_top_0 margin_bottom_08em text_center">About Our Team Spirit</h2>
											<div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
												<div class="column-1_2 sc_column_item sc_column_item_1 odd first res_width_100per_imp">
													<blockquote cite="#" class="sc_quote width_80per">
														<p>Formal education will make you a living. Self-education will make you a fortune.</p>
														<p class="sc_quote_title">
															<a href="personal-page.html">David Anderson</a>
														</p>
													</blockquote>
													<div class="sc_socials sc_socials_size_small">
														<div class="sc_socials_item">
															<a href="#" target="_blank" class="social_icons social_facebook">
																<span class="sc_socials_hover social_facebook"></span>
															</a>
														</div>
														<div class="sc_socials_item">
															<a href="#" target="_blank" class="social_icons social_pinterest">
																<span class="sc_socials_hover social_pinterest"></span>
															</a>
														</div>
														<div class="sc_socials_item">
															<a href="#" target="_blank" class="social_icons social_twitter">
																<span class="sc_socials_hover social_twitter"></span>
															</a>
														</div>
														<div class="sc_socials_item">
															<a href="#" target="_blank" class="social_icons social_gplus">
																<span class="sc_socials_hover social_gplus"></span>
															</a>
														</div>
														<div class="sc_socials_item">
															<a href="#" target="_blank" class="social_icons social_rss">
																<span class="sc_socials_hover social_rss"></span>
															</a>
														</div>
														<div class="sc_socials_item">
															<a href="#" target="_blank" class="social_icons social_dribbble">
																<span class="sc_socials_hover social_dribbble"></span>
															</a>
														</div>
													</div>
												</div>
												<div class="column-1_2 sc_column_item sc_column_item_2 even res_width_100per_imp">
													<figure class="sc_image sc_image_shape_square">
														<img src="images/roy_daniels_full-750x422.jpg" alt="" />
													</figure>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="sc_section" data-animation="animated fadeInUp normal">
								<div class="sc_content content_wrap margin_top_3em_imp margin_bottom_3em_imp">
									<h2 class="sc_title sc_title_regular sc_align_center margin_top_0 margin_bottom_085em text_center">Language Teachers</h2>
									<div class="sc_team sc_team_style_1" data-animation="animated fadeInUp normal">
										<div class="sc_columns columns_wrap">
											<div class="column-1_3">
												<div class="sc_team_item sc_team_item_1 odd first">
													<div class="sc_team_item_avatar">
														<img alt="" src="images/john_johnson_full-350x290.jpg"></div>
													<div class="sc_team_item_info">
														<h6 class="sc_team_item_title">
															<a href="personal-page.html">John Johnson</a>
														</h6>
														<div class="sc_team_item_position">Administrator</div>
														<div class="sc_team_item_description">
															<p>Donec ut tincidunt purus. Vestibulum ultrices est id arcu iaculis, quis blandit nunc accumsan.</p>
														</div>
														<div class="sc_socials sc_socials_size_small">
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_facebook">
																	<span class="sc_socials_hover social_facebook"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_pinterest">
																	<span class="sc_socials_hover social_pinterest"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_twitter">
																	<span class="sc_socials_hover social_twitter"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_gplus">
																	<span class="sc_socials_hover social_gplus"></span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="column-1_3">
												<div class="sc_team_item sc_team_item_2 even">
													<div class="sc_team_item_avatar">
														<img alt="" src="images/john_snow_full-350x290.jpg"></div>
													<div class="sc_team_item_info">
														<h6 class="sc_team_item_title">
															<a href="personal-page.html">John Snow</a>
														</h6>
														<div class="sc_team_item_position">Translator</div>
														<div class="sc_team_item_description">
															<p>Royal L. Garff Presidential Chair in Marketing, Marketing Department, Department of Marketing
																<br /> Presidential Professor, Marketing Department, University of Utah
															</p>
														</div>
														<div class="sc_socials sc_socials_size_small">
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_facebook">
																	<span class="sc_socials_hover social_facebook"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_pinterest">
																	<span class="sc_socials_hover social_pinterest"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_twitter">
																	<span class="sc_socials_hover social_twitter"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_dribbble">
																	<span class="sc_socials_hover social_dribbble"></span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="column-1_3">
												<div class="sc_team_item sc_team_item_3 odd">
													<div class="sc_team_item_avatar">
														<img alt="" src="images/pamela_fryman_full-350x290.jpg"></div>
													<div class="sc_team_item_info">
														<h6 class="sc_team_item_title">
															<a href="personal-page.html">Pamela Fryman</a>
														</h6>
														<div class="sc_team_item_position">Translator</div>
														<div class="sc_team_item_description">
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
														</div>
														<div class="sc_socials sc_socials_size_small">
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_facebook">
																	<span class="sc_socials_hover social_facebook"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_pinterest">
																	<span class="sc_socials_hover social_pinterest"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_twitter">
																	<span class="sc_socials_hover social_twitter"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_dribbble">
																	<span class="sc_socials_hover social_dribbble"></span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="sc_line sc_line_style_solid margin_top_1em"></div>
									<h2 class="sc_title sc_title_regular sc_align_center margin_top_0 margin_bottom_085em text_center" data-animation="animated fadeInUp normal">Marketing</h2>
									<div class="sc_team sc_team_style_2" data-animation="animated fadeInUp normal">
										<div class="sc_columns columns_wrap">
											<div class="column-1_3">
												<div class="sc_team_item sc_team_item_1 odd first">
													<div class="sc_team_item_avatar">
														<img alt="jessie_russel_full.jpg" src="images/jessie_russel_full-350x290.jpg">
														<div class="sc_team_item_hover">
															<div class="sc_team_item_socials">
																<div class="sc_socials sc_socials_size_small">
																	<div class="sc_socials_item">
																		<a href="#" target="_blank" class="social_icons social_facebook">
																			<span class="sc_socials_hover social_facebook"></span>
																		</a>
																	</div>
																	<div class="sc_socials_item">
																		<a href="#" target="_blank" class="social_icons social_pinterest">
																			<span class="sc_socials_hover social_pinterest"></span>
																		</a>
																	</div>
																	<div class="sc_socials_item">
																		<a href="#" target="_blank" class="social_icons social_twitter">
																			<span class="sc_socials_hover social_twitter"></span>
																		</a>
																	</div>
																	<div class="sc_socials_item">
																		<a href="#" target="_blank" class="social_icons social_gplus">
																			<span class="sc_socials_hover social_gplus"></span>
																		</a>
																	</div>
																	<div class="sc_socials_item">
																		<a href="#" target="_blank" class="social_icons social_dribbble">
																			<span class="sc_socials_hover social_dribbble"></span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="sc_team_item_info">
														<h6 class="sc_team_item_title"><a href="personal-page.html">Jessie Russel</a></h6>
														<div class="sc_team_item_position">Marketing Coordinator</div>
													</div>
												</div>
											</div>
											<div class="column-1_3">
												<div class="sc_team_item sc_team_item_2 even">
													<div class="sc_team_item_avatar">
														<img alt="" src="images/maurice_bates_full-350x290.jpg">
														<div class="sc_team_item_hover">
															<div class="sc_team_item_socials">
																<div class="sc_socials sc_socials_size_small">
																	<div class="sc_socials_item">
																		<a href="#" target="_blank" class="social_icons social_facebook">
																			<span class="sc_socials_hover social_facebook"></span>
																		</a>
																	</div>
																	<div class="sc_socials_item">
																		<a href="#" target="_blank" class="social_icons social_pinterest">
																			<span class="sc_socials_hover social_pinterest"></span>
																		</a>
																	</div>
																	<div class="sc_socials_item">
																		<a href="#" target="_blank" class="social_icons social_twitter">
																			<span class="sc_socials_hover social_twitter"></span>
																		</a>
																	</div>
																	<div class="sc_socials_item">
																		<a href="#" target="_blank" class="social_icons social_gplus">
																			<span class="sc_socials_hover social_gplus"></span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="sc_team_item_info">
														<h6 class="sc_team_item_title"><a href="personal-page.html">Maurice Bates</a></h6>
														<div class="sc_team_item_position">Marketing Coordinator</div>
													</div>
												</div>
											</div>
											<div class="column-1_3">
												<div class="sc_team_item sc_team_item_3 odd">
													<div class="sc_team_item_avatar">
														<img alt="" src="images/roy_daniels_full-350x290.jpg">
														<div class="sc_team_item_hover">
															<div class="sc_team_item_socials">
																<div class="sc_socials sc_socials_size_small">
																	<div class="sc_socials_item">
																		<a href="#" target="_blank" class="social_icons social_facebook">
																			<span class="sc_socials_hover social_facebook"></span>
																		</a>
																	</div>
																	<div class="sc_socials_item">
																		<a href="#" target="_blank" class="social_icons social_pinterest">
																			<span class="sc_socials_hover social_pinterest"></span>
																		</a>
																	</div>
																	<div class="sc_socials_item">
																		<a href="#" target="_blank" class="social_icons social_twitter">
																			<span class="sc_socials_hover social_twitter"></span>
																		</a>
																	</div>
																	<div class="sc_socials_item">
																		<a href="#" target="_blank" class="social_icons social_gplus">
																			<span class="sc_socials_hover social_gplus"></span>
																		</a>
																	</div>
																	<div class="sc_socials_item">
																		<a href="#" target="_blank" class="social_icons social_dribbble">
																			<span class="sc_socials_hover social_dribbble"></span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="sc_team_item_info">
														<h6 class="sc_team_item_title">
															<a href="personal-page.html">Roy Daniels</a>
														</h6>
														<div class="sc_team_item_position">Marketing Coordinator</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<a href="courses-streampage.html" data-animation="animated fadeInUp normal" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_menu sc_button_size_small aligncenter  sc_button_iconed icon-graduation margin_top_0 sc_button_courses_st1 margin_bottom_4 widht_12em">VIEW ALL COURSES</a>
								</div>
							</div>
							<div class="sc_line sc_line_style_solid margin_top_0 margin_bottom_0"></div>
                        </section>
                    </article>
                </div>
             </div>
	        <!-- /Content -->
			<?php include 'footer.php';?>